#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.roundedInput {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.searchButton{
  background-color: #007bff; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remover borda padrão */
  padding: 10px 20px; /* Espaçamento interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Borda arredondada */
  cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave para mudanças de cor */
}

.climaticData {
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.559);
  padding: 10px 20px;
}

body.morning {
  background: linear-gradient(to bottom, #87cefa, #b0e0e6); /* Gradiente de manhã */
}

body.afternoon {
  background: linear-gradient(to bottom, #1e3c72, #2a5298, #a8c0ff); /* Gradiente de tarde */
}

body.evening {
  background: linear-gradient(to bottom, #2c3e50, #4ca1af); /* Gradiente de noite */
  color: rgb(2, 2, 2);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
